body {
    background-color: black;
    color: gray;
    max-width: 38rem;
    padding: 2rem;
    margin: auto;
}


pre {
    color: lime;
    text-align: center;
}

.persona-input {
    display: block;
}

input[type=text] {
    padding: 12px 20px;
    width: 80%;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #555;
    background-color: black;
    color: gray;
}

input[type=text]:focus {
    border: 3px solid lime;
}

input[type=button] {
    margin: 8px 0;
    box-sizing: border-box;
    background-color: black;
    color: gray;
    padding: 12px 20px;
    border: 3px solid #555;
}

.persona-input input[type=button] {
    height: 100%;
    width: 20%;
}

input[type=button]:focus {
    border: 3px solid lime;
}

ul {
    list-style: decimal;
    padding: 12px 15px;
    margin: 8px 0;
}

li {
    padding: 3px 10px;
}

img {
    margin: 8px 0;
}

.hide {
    display: none;
}

.show {
    display: initial;
}
